/* Large */
@media (min-width: 992px) and (max-width: 1199.98p){
    #banner {
        height: 680px;
    }
    #nav .container #main_nav ul li a {
        text-align: right;
      }
      #nav ul li:hover a{
        background: #2ecc71;
     }
	 .contact_info p {
		font-size: 15px;
		width: 500px;
	}
	 .contact_form {
		padding-left: 100px;
	}
}
/* Medium */

@media (min-width: 768px) and (max-width: 991.98px){
#banner{
    height: 600px;
}
#banner .banner_content h1 {
	font-size: 50px;
}
#banner .banner_content a {
	font-size: 16px;
	padding: 18px 30px;
}
#feature {
	padding: 90px 0;
}
#feature .feature_item h3 {
	font-size: 25px;
	margin: 30px 0px;
}
#feature .feature_item p {
	font-size: 20px;
	line-height: 35px;
}
#about .about_info h2 {
	font-size: 30px;
	margin-bottom: 20px;
	margin-top: 50px;
}
#about .about_item {
	padding-right: 20px;
}
.skill_info h3 {
	font-size: 26px;
}
.skill_info p {
	font-size: 16px;
	margin: 20px 0;
}
.skill_info a {
	font-size: 15px;
	padding: 16px 30px;
}
.skill_bar h4 {
	font-size: 18px;
	margin-top: 35px;
	margin-bottom: 20px;
}
.resume_info a {
	padding: 16px 20px;
	font-size: 18px;
}
#box_info .box_contant {
	padding: 70px 100px;
}
#box_info .box_contant p {
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}
#box_info .box_contant h4 {
	font-size: 15px;
}
#portfolio {
	padding: 50px 0;
}
#portfolio .portfolio_item:hover .overlay{
	background: #2ecc71;
}
.contact_info p {
	font-size: 15px;
	width: 500px;
}
.contact_form {
	padding-left: 100px;
}
.contact_form textarea {
	height: 210px;
}
}
/* Small */

@media (min-width: 576px) and (max-width: 767.98px){
	#banner{
		height: 500px;
	}
	#banner .banner_content h1 {
		font-size: 35px;
	}
	#banner .banner_content a {
		font-size: 15px;
		padding: 16px 25px;
	}
	#feature {
		padding: 80px 0;
	}
	#feature .feature_item h3 {
		font-size: 25px;
		margin: 30px 0px;
	}
	#feature .feature_item p {
		font-size: 15px;
		line-height: 20px;
	}
	#about .about_info h2 {
		font-size: 25px;
		margin-bottom: 40px;
		margin-top: 40px;
	}
	#about .about_item {
		/* padding-right: 50px; */
		padding-top: 40px;
		padding-bottom: 20px;
	}
	#skill {
		padding: 70px 0;
	}
	.skill_info h3 {
		text-align: left;
	}
	.skill_info p {
		font-size: 15px;
	}
	.skill_info a {
		font-size: 12px;
		padding: 14px 25px;
	}
	.skill_bar h4 {
		font-size: 18px;
		margin-top: 40px;
		margin-bottom: 15px;
	}
	.resume_info h3 {
		font-size: 25px;
		padding: 20px;
	}
	.resume_info p {
		font-size: 20px;
	}
	.resume_info a {
		padding: 15px 18px;
		font-size: 15px;
	}
	.container_education {
		padding-top: 80px;
		padding-bottom: 10px;
	}
	.my_education h2 {
		padding-bottom: 40px;
		font-size: 25px;
	}
	.my_education p {
		font-size: 15px;
	}
	.others_qualification h6 {
		font-size: 16px;
	}
	.others_qualification p {
		font-size: 15px;
	}
	#workexperience {
		margin-top: 90px;
	}
	.container_workexperience .left h3 {
		font-size: 25px;
	}
	.container_workexperience .left p {
		font-size: 15px;
	}
	.container_workexperience .right {
		padding-left: 30px;
	}
	.container_workexperience .right h4 {
		font-size: 20px;
	}
	.container_workexperience .right p {
		font-size: 16px;
		margin-bottom: 20px;
	}
	#box_info .box_contant {
		padding: 80px 100px;
	}
	#box_info .box_contant p {
		font-size: 20px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	#portfolio {
		padding: 30px 0;
	}
	#contact {
		padding: 50px 0;
	}
}
/* Extra Small */

@media (min-width: 320px) and (max-width: 575.98px){
	#banner{
		height: 400px;
	}
    #banner .banner_content h1 {
	    font-size: 30px;
		margin-bottom: 40px;
		}
		#banner .banner_content a {
			font-size: 14px;
			padding: 15px 20px;
		}
		#feature {
			padding: 30px 0;
		}
		#feature .feature_item h3 {
			font-size: 25px;
			margin: 30px 0px;
		}
		#feature .feature_item p {
			font-size: 14px;
			line-height: 30px;
		}
		#about .about_info h2 {
			font-size: 25px;
			margin-top: 40px;
		}
		#about .container .row {
			text-align: center;
		}
		#about .about_item {
			text-align: center;
		}
		#about .about_item img {
			padding-left: 50px;
		}
		.skill_info {
			text-align: center;
		}
		.skill_info h3 {
		text-align: center;
		font-size: 25px;
		}
		.skill_info p {
			font-size: 15px;
			margin: 20px 0;
			margin-bottom: 40px;
		}
		.skill_info a {
			font-size: 12px;
			padding: 15px 25px;
		}
		.skill_bar h4 {
			font-size: 20px;
		}
		.resume_info {
			padding: 50px 50px;
		}
		.resume_info h3 {
			font-size: 25px;
			padding: 20px;
		}
		.resume_info p {
			font-size: 15px;
		}
		.resume_info a {
			padding: 17px 18px;
			font-size: 12px;
		}
		.container_education {
			padding-top: 70px;
			padding-bottom: 15px;
		}
		.my_education {
			text-align: center;
		}
}